{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}


{% block title %}
{% endblock %}

{% block body %}
    <img src="{% static 'pics/Picture1.png' %}" class="section1" alt="">

    <section class="section2">
        <h1 class="section2-title">კატეგორიები</h1>

        <div class="categories-div">
            <div class="category-1">
                <img src="{% static 'pics/Picure2.png' %}" class="category-image" alt="">
                <h1 class="category-text">Category 1</h1>
            </div>

            <div class="category-2">
                <img src="{% static 'pics/Picture3.png' %}" class="category-image" alt="">
                <h1 class="category-text">Category 2</h1>
            </div>

            <div class="category-3">
                <img src="{% static 'pics/Picture4.png' %}" class="category-image" alt="">
                <h1 class="category-text">Category 3</h1>
            </div>
        </div>
    </section>

    <section class="section2">
        <h2 class="section2-title">პროდუქცები</h2>
        
        <div class="products-div">
            {% for product in all_products %}
                <a href="{% url 'product' product.pk %}" style="text-decoration: none; color: white;">
                    <div class="product-card">
                        <img src="{% static 'pics/Dress.png' %}" class="product-image" alt="">
                        <h3 class="product-text">ქალთა კაბა</h3>
                        <p class="product-price">199 ₾</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>

{% endblock %}