{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/layout.css' %}">

        {% block head %}{% endblock %}
    </head>
    <body>
        <nav>
            <div class="navigation-div1">
                <div class="website-titles">
                    <h1 class="website-title1">BASROBA</h1>
                    <h1 class="website-title2">BE WHO YOU ARE</h1>
                </div>

                <div id="menu-together">
                    <button class="search-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search search-icon" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                    </button>

                    <div class="navs-div">
                        <button class="favorite-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill favorite-icon" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                            </svg>
                        </button>

                        <button class="cart-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart cart-icon" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                            </svg>
                        </button>

                        <div class="lang-part">
                            <h1 class="lang-text">ქართ

                            <button class="lang-button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down lang-icon" viewBox="0 0 16 16">
                                    <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"/>
                                </svg>
                            </button>
                            </h1>
                        </div>
                    </div>

                    <div class="navs-navs">
                        <a href="" class="nav nav1">კაცები</a>
                        <a href="" class="nav nav2">ქალები</a>
                        <a href="" class="nav nav3">კოლექციები</a>
                        <a href="" class="nav nav4">ფასდაკლებები</a>
                    </div>
                </div>
                
                <section class="burger-menu" id="burger-menu">
                    <span class="span span1"></span>
                    <span class="span span2"></span>
                    <span class="span span3"></span>
                </section>
            </div>
        </nav>

        {% block body %}
        {% endblock %}

<script>
    const burger = document.getElementById("burger-menu");
    const menu = document.getElementById("menu-together");

    burger.addEventListener("click", () => {
        burger.classList.toggle("active");
        menu.classList.toggle("active");
    });
</script>


    </body>
</html>