{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}


{% block title %}
    Products
{% endblock %}

{% block body %}
    <section class="section2">
        <h2 class="section2-title">PRODUCTS</h2>
        
        <div class="products-div">
            {% for product in all_products %}
                <a href="{% url 'product' product.pk %}" style="text-decoration: none; color: white;">
                    <div class="product-card">
                        <img src="{{ product.Product_image1.url }}" class="product-image" alt="">
                        <h3 class="product-text">{{ product.Product_name }}</h3>
                        {% if not product.Product_XS and not product.Product_S and not product.Product_M and not product.Product_L and not product.Product_XL and not product.Product_2XL and not product.Product_3XL and not product.Product_4XL and not product.Product_5XL %}
                            <p class="product-price" style="color: red;">Sold Out</p>
                        {% else %}
                            <p class="product-price">{{ product.Product_price_new }} ₾</p>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}