{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}


{% block title %}
{% endblock %}

{% block body %}
    <div class="profile">
        <div class="sidebar">
            <h1>Username here</h1>
            <a onclick="open_part1()" style="cursor: pointer;">Profile Information</a>
            <a onclick="open_part2()" style="cursor: pointer;">Orders</a>
            <a onclick="open_part3()" style="cursor: pointer;">Address Information</a>
        </div>

        <div class="main-part">
            <div class="main-part1" id="main-part1" style="display: none;">
                <h1>Profile Information</h1>
                <input type="text" placeholder="First Name" value="{{ user_info.first_name }}">
                <input type="text" placeholder="Middle Name" value="{{ user_info.middle_name }}">
                <input type="text" placeholder="Last Name" value="{{ user_info.last_name }}">
                <input type="number" placeholder="Id Number" value="{{ user_info.id_number }}">
                <input type="email" placeholder="Email Address" value="{{ user_info.email_address }}">
                <input type="number" placeholder="Phone Number" value="{{ user_info.phone_number }}">

                <button type="submit">Save</button>
            </div>

            <div class="main-part2" id="main-part2" style="display: none;">
                <h1>Address Information</h1>
                <button type="button" class="add-address">Add Address</button>
                
                <div class="address-div">
                    <h2 class="address">123 Main St, City, Country</h1>
                    <button type="button" class="change-address">Change</button>
                    <button type="button" class="delete-address">Delete</button>
                </div>
            </div>

            <div class="main-part3" id="main-part3" style="display: none;">
                <h1>Orders</h1>

                <div class="order">
                    <h1>Order #121412</h1>

                    <div class="order-item">
                        <img src="" alt="">
                        <h1>Large Red T-shirt</h1>
                    </div>

                    <div class="order-item">
                        <img src="" alt="">
                        <h1>Large Red T-shirt</h1>
                    </div>

                    <div class="order-item">
                        <img src="" alt="">
                        <h1>Large Red T-shirt</h1>
                    </div>

                    <div class="order-item">
                        <img src="" alt="">
                        <h1>Large Red T-shirt</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}